{
  "parser": "babel-flow",
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "arrowParens": "always",
  "printWidth": 120,
  "jsxSingleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": true
}